* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.a, .b, .c {
    border: 3px solid transparent;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.a {
    border-color: #ffffba
}

.b {
    border-color: #ffdfba;
}

.c {
    border-color: #baffc9;
}


@media(min-width: 600px) {
  body {
    display: grid;
    max-width: 1200px;
    margin: 0 auto; 
    grid-template-rows: 50% 1fr;
    grid-template-columns: 50% 50%;
      grid-template-areas:
      "a a"
      "c b"; 
}
    .a { grid-area: a; }
    .b { grid-area: b; }
    .c { grid-area: c; }
}