@media(max-width: 999px) {

    
    body {
    display: grid;
    grid-template-rows: auto 1fr 1fr auto; 
    min-height: 100vh;
}

/* Header */
.header .container {
    display: grid;
    grid-template-columns: 1fr auto; 
    align-items: center;
    position: relative;
}


.nav {
    justify-self: center;
    width: 40%;
    text-align: center;
    }

.burger-icon {
    font-size: 36px;
    cursor: pointer;
}

/* Main */
.section-main {
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    height: 40vh;
}
/* Comments */
.section-comments .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 40vh;
}

/* Footer */

.footer .container {
    display: grid;
    place-items: center; 
    min-height: 40px;
}

.footer-text {
    width: 30%;
}

}
   
    


  
    

